.header {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: $base-black;
        font-weight: 400;
        font-size: 28px;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .header {
        display: grid;
        grid-template-areas: 'logo buttons';
        grid-template-columns: 87px auto;
        padding: 12px 16px;

        &__title {
            display: none;
        }

        &__buttons{
            grid-area: buttons;
            display: flex;
            gap: 12px;
            width: 100%;
        }
    }
}