.main {
    grid-area: main;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 78px 0px 78px;
    display: flex;
    flex-flow: column nowrap;
    gap: 86px;
}

.hero {
    width: 100%;
    box-sizing: border-box;
    padding: 70px 60px;
    position: relative;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    &__content {
        display: flex;
        flex-flow: column nowrap;
        gap: 16px;
    }

    &__title, &__text {
        color: $base-black;
    }

    &__title {
        font-weight: 700;
        font-size: 44px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
    }

    &__image {
        position: absolute;
        right: 8px;
        bottom: -50px;
    }
}

.tasks {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'tasks_header tasks_header'
    'tasks_container tasks_info'
    ;
    grid-template-columns: 62.5% auto;
    row-gap: 24px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: tasks_header;

        &_wrapper {
            width: 62.5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        color: $base-black;
    }

    &__button {
        border: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        color: $base-darkorange;
        height: fit-content;

        &:hover {
            cursor: pointer;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        color: $base-black;
    }

    &__container {
        grid-area: tasks_container;
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
    }
}

.statistic {
    grid-area: tasks_info;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 40px;

    &__item {
        padding: 32px 29px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 16px;
        border-radius: 12px;
        width: 188px;

        &-completed {
            background-color: $base-darkorange;
        }

        &-active {
            background-color: $base-orange;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 4px;
    }

    &__title, &__text {
        color: $base-white;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .main {
        padding: 20px 32px 0px 32px;
        gap: 41px;
    }

    .hero {
        padding: 40px 16px;

        &__content {
            gap: 4px;
        }

        &__title {
            font-size: 14px;
        }

        &__text {
            font-size: 8px;
        }

        &__image {
            width: 141px;
            height: 131px;
            bottom: -29px;
        }
    }

    .tasks {
        grid-template-areas: 
        'tasks_info'
        'tasks_header'
        'tasks_container'
        ;
        grid-template-columns: 1fr;
        row-gap: 24px;

        &__header {
            gap: 8px;

            &_wrapper {
                width: 70%;
            }
        }
    
        &__title {
            font-size: 12px;
        }
    
        &__button {
            font-size: 6px;
        }
    
        &__date {
            font-size: 6px;
            width: fit-content;
        }
    
        &__container {
            grid-area: tasks_container;
            gap: 14px;
        }
    }

    .statistic {
        grid-area: tasks_info;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: unset;
    
        &__item {
            padding: 10px 16px;
            flex-flow: row nowrap;
            gap: 19px;
            width: 140px;
        }

        &__img {
            width: 24px;
            height: 24px;
        }
    
        &__content {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: 2px;
        }
    
        &__title, &__text {
            color: $base-white;
        }
    
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
    
        &__text {
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            text-align: left;
        }
    }
}