.sidebar {
    grid-area: sidebar;
    width: 320px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;

    &__content {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 80px;
    }
}

.nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;

    &__item {
        width: 100%;
        padding: 12px 0px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: $base-black;
        box-sizing: border-box;

        &-active {
            background-color: $base-orange;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .sidebar {
        width: 100%;
        padding: 0px 32px;
    }
}