.sidebar {
    grid-area: sidebar;
    width: 320px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;

    &__content {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 80px;
    }
}

.nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;

    &__item {
        width: 100%;
        padding: 12px 0px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: $base-black;
        box-sizing: border-box;

        &-active {
            background-color: $base-orange;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.selector {
    display: none;
}

@media (min-width: 320px) and (max-width: 425px) {
    .sidebar {
        width: 100%;
        padding: 16px 32px 0px 32px;
    }

    .nav {
        display: none;
    }

    .selector {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding: 6px 16px;
        box-sizing: border-box;
        background-color: $base-orange;
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: $base-black;
    }
}