.filter {
    height: 100%;
    border: none;
    position: relative;
    
    &__button {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        border-radius: 8px;
        background-color: $main-text-color;
        box-sizing: border-box;
        font-family: "Mono Medium";
        font-size: 18px;
        color: #fff;
        padding: 0px 15px;
        transition: all .3s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__list {
        position: absolute;
        list-style-type: none;
        background-color: $main-text-color;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 8px;
        right: 0;
        top: 53px;
        z-index: 10;

        &__item {
            font-family: "Mono Medium";
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }
    }
}