.search {
    &-section {
        width: 100%;
        box-sizing: border-box;
    }

    &__input {
        width: 100%;
        border: none;
        height: 24px;
        color: $black-text-color;
        font-family: "Mono Regular";
        font-size: 16px;

        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            color: $light-text-color;
        }
    }   

    &__wrapper {
        width: 80%;
        border-radius: 8px;
        border: 2px solid $main-text-color;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    &__icon {
        fill: $main-text-color;
    }
}