@import 'vars';
@import 'fonts';
@import 'header';
@import 'search';
@import 'todos';
@import 'buttons';
@import 'modal';
@import 'loader';

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  position: relative;
  background-color: $modal-background;
}

.center {
  padding-left: 10vw;
  padding-right: 10vw;
}

.logo {
  color: $black-text-color;
  font-family: "Mono SemiBold";
  font-size: 36px;
}

.user__icon {
  width: 50px;
  height: 50px;
  stroke: $main-text-color;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    stroke: $light-text-color;
  }
}

.not-todos-found {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  &__text {
    font-family: "Mono Medium";
    color: $black-text-color;
    font-size: 20px;
  }
}